<main>
  <div class="container">
    <div class="row">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">1 - 10</div>
        </div>
        <input type="text" ng-model="jokesNumber" ng-change="change()" class="form-control" placeholder="How many jokes you want to read?"
          aria-label="How many jokes you want to read?" aria-describedby="btnGroupAddon">
      </div>
      <button class="btn btn-danger" ng-click="reset()" type="reset">Reset</button>
      <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons">
        <label class="btn btn-secondary active" ng-click="selectCategory(this)">
          <input type="radio" name="options" autocomplete="off" checked> Select all
        </label>
        <label class="btn btn-secondary" ng-repeat="item in categories" ng-click="selectCategory(this)">
          <input type="radio" name="options" autocomplete="off"> {{item}}
        </label>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <h1 ng-repeat="joke in jokes track by $index">{{joke.joke}}</h1>
    </div>
  </div>
</footer>