<main>
  <div class="container">
    <div class="row">
      {{joke}}
    </div>
    <div class="row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">1 - 10</div>
      </div>
      <input type="text" ng-model="jokesNumber" ng-change="change()" class="form-control" placeholder="How many jokes you want to read?" aria-label="How many jokes you want to read?" aria-describedby="btnGroupAddon">
    </div>
    <button class="btn btn-danger" type="reset">Reset</button>
    <div class="btn-group-vertical" role="group">
      <button type="button" class="btn btn-secondary" ng-click="selectCategory(this)">Select all</button>
      <button type="button" class="btn btn-secondary" ng-repeat="item in categories">{{item}}</button>
    </div>
  </div>
  </div>
</main>
<footer>

</footer>