<main>
  <div class="container">
    <div class="row">
      <label class="font-effect-outline" for="input-number">How many jokes you want to read?</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">1 - 10</div>
        </div>
        <input type="text" ng-model="jokesNumber" id="input-number" ng-change="change()" class="form-control" placeholder="Enter a number"
          aria-label="Enter a number" aria-describedby="btnGroupAddon">
      </div>
      <div class="animate-show alert alert-warning" ng-show="alertWarning" ng-model="alertWarning" role="alert">
        <strong>Warning!</strong> Sorry,but Chuck knows numbers 1 to 10 only!
      </div>
    </div>
    <div class="row">
      <h1 class="font-effect-outline">Chuck Norris
        <br> Jokes</h1>
    </div>
    <div class="row">
      <img src="./img/muscle.svg" class="col-3 rounded-circle" alt="photo of muscle">
      <img src="./img/chuckNorrisPhoto.jpg" class="col-6 rounded-circle" alt="Chuck Norris photo">
      <img src="./img/muscle.svg" class="col-3 rounded-circle" alt="photo of muscle">
    </div>
    <div class="row">
      <div class="col-8 btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons">
        <label class="btn btn-primary active" ng-click="selectCategory(this)">
          <input type="radio" name="options" autocomplete="off" checked> Select all
        </label>
        <label class="btn btn-primary" ng-repeat="item in categories" ng-click="selectCategory(this)">
          <input type="radio" name="options" autocomplete="off"> {{item}}
        </label>
      </div>
      <button class="col-4 btn btn-danger" ng-click="refresh()" type="button">Refresh</button>
    </div>
    <div class="row">
      <blockquote>
        <h4 class="font-effect-outline" ng-repeat="joke in jokes track by $index">{{joke.joke}}</h4>
      </blockquote>
      <div class="alert alert-danger" ng-show="alertDanger" ng-model="alertDanger" role="alert">
        <strong>Danger!</strong> Chuck is not in the mood for jokes, please try again later.
      </div>
    </div>
  </div>
</main>
