html body {
  font-family: 'Cinzel', serif;
  height: 100%;
  font-size: 1rem;
  line-height: 1.45;

  color: #333;
  background-image: url("../public/img/fightingMasters.svg");
  background-size: 150px 150px;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: rgba(0,0,0,0.75);
  overflow: hidden; 
}

.container:before{
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10'></feGaussianBlur></filter></svg>");
  background: inherit; 
  position: absolute;
  left: -25px; 
  right: 0;
  top: -25px;   
  bottom: 0;
  box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px)
 }

.row:nth-child(2) {
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

label[for='input-number'] {
  padding: 15px 15px 10px 15px;
  margin-bottom: -15px;
  font-size: 1.25em;
}

button,label,blockquote {
  z-index: 1;
}

.container .row .rounded-circle {
  padding: 0px;
  border: 5px solid #333;
  max-width: 20%;
  height: 20%;
  margin: 0 auto;
}

.container .row .rounded-circle:nth-child(2) {
  max-width: 30%;
  height: 30%;
}

.container .row img:last-child {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.container .row .input-group {
  padding: 15px;
  color: #000;
}

.container .row .input-group .input-group-text {
  font-family: 'Cinzel', serif;
}

.container h1 {
  font-size: 1.333em;          /* Perfect fourth */
  line-height: 1.2;
  padding: 15px;
}

.container .row .btn-group-vertical {
  margin: 15px;
}

.container .row .btn-danger {
  margin: 15px;
}

.container .row .btn-group-vertical .btn:first-child {
  border-top-right-radius: 0.25rem;
}

.container .row .btn-group-vertical .btn:last-child {
  border-bottom-left-radius: 0.25rem;
}

@media (max-width: 1199.98px) {
  html body {
    font-size: 0.95rem;
  }
}

@media (max-width: 991.98px) {
  html body {
    font-size: 0.9rem;
  }
}

@media (max-width: 767.98px) {
  html body {
    font-size: 0.85rem;
  }
  .container .row .rounded-circle {
    max-width: 30%;
    height: 30%;
  }
  
  .container .row .rounded-circle:nth-child(2) {
    max-width: 40%;
    height: 40%;
  }
}

@media (max-width: 575.98px) {
  html body {
    font-size: 0.7rem;
  }
}