html body {
  font-family: 'Cinzel','Georgia', serif;
  height: 100%;
  font-size: 1rem;
  line-height: 1.45;
  color: #fff;
  background-image: url("../public/img/fightingMasters.svg");
  background-size: 150px 150px;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.container:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='15'></feGaussianBlur></filter></svg>");
  background: inherit;
  position: absolute;
  left: 0px;
  right: 0;
  top: 0px;
  bottom: 0;
  box-shadow: inset 0 0 0 1140px rgba(255, 255, 255, 0.3);
  filter: blur(15px);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px)
}

.row:nth-child(2) {
  align-items: center;
  margin: 0 auto;
  padding: 15px 0px;
}

label[for='input-number'] {
  padding: 15px 15px 10px 15px;
  margin-bottom: -15px;
  font-size: 1.25em;
}

button,
label,
blockquote {
  z-index: 1;
}

.container .row .rounded-circle {
  padding: 0px;
  border: 5px dashed #007bff;
  background: #fff;
  max-width: 20%;
  height: 20%;
  margin: 0 auto;
}

.container .row .rounded-circle:nth-child(2) {
  max-width: 30%;
  height: 30%;
}

.container .row img:last-child {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.container .row .input-group {
  padding: 15px;
  color: #222;
}

.container .row .input-group .input-group-text {
  font-family: 'Cinzel','Georgia', serif;
  z-index: 1;
  border: none;
  background-color: #007bff;
  color: #fff;
}

.container .row .alert-warning.animate-show {
  font-size: 1.333em;
  line-height: 1.2;
  margin: 15px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.container .row .alert-warning.animate-show.ng-hide {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.container h1 {
  font-size: 1.333em;
  /* Perfect fourth */
  line-height: 1.2;
  padding: 15px;
}

.container .row .btn-group-vertical {}

.container .row .btn-danger {
  margin-left: -15px;
}

.container .row .btn-primary {}

.container .row .btn-primary.active {
  z-index: 2;
}

.container .row .btn-group-vertical .btn:first-child {
  border-top-right-radius: 0.25rem;
}

.container .row .btn-group-vertical .btn:last-child {
  border-bottom-left-radius: 0.25rem;
}

@media (max-width: 1199.98px) {
  html body {
    font-size: 0.95rem;
  }
}

@media (max-width: 991.98px) {
  html body {
    font-size: 0.9rem;
  }
}

@media (max-width: 767.98px) {
  html body {
    font-size: 0.85rem;
  }
  .container .row .rounded-circle {
    max-width: 30%;
    height: 30%;
  }
  .container .row .rounded-circle:nth-child(2) {
    max-width: 40%;
    height: 40%;
  }
}

@media (max-width: 575.98px) {
  html body {
    font-size: 0.7rem;
  }
}