body {
  font-size: 100%;
}

.container {
  background: rgb(128, 219, 9);
}

.row {}

.container h1 {
  font-size: 1.3em;
  padding: 15px;
}

.container .row .btn-group-vertical {
  margin: 15px;
}

.container .row .btn-danger {
  margin: 15px;
}

.container .row .btn-group-vertical .btn:first-child {
  border-top-right-radius: 0.25rem;
}

.container .row .btn-group-vertical .btn:last-child {
  border-bottom-left-radius: 0.25rem;
}

.container .form-control {
  font-size: 1.25rem;
}

@media (max-width: 1199.98px) {
  html body {
    font-size: 0.95rem;
  }
  .container .form-control {
    font-size: 1.2rem;
}
}

@media (max-width: 991.98px) {
  html body {
    font-size: 0.9rem;
  }
  .container .form-control {
    font-size: 1.15rem;
}
}

@media (max-width: 767.98px) {
  html body {
    font-size: 0.85rem;
  }
  .container .form-control {
    font-size: 1.1rem;
}
}

@media (max-width: 575.98px) {
  html body {
    font-size: 0.8rem;
  }
  .container .form-control {
    font-size: 1.05rem;
}
}